<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "Commander R", description: "Information about Commander R", icon: "/images/members/commander r.png"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/commander r.png" alt="Commander R's avatar" style="height: 60px; border-radius: 100px;"> Commander R</div>

                <p class="description">
                    Rank: <code>Founder</code> & <code>Developer</code>
                    <br>
                    About me: <br>
                    Heya I'm <code>Commander R</code> or <code>R</code> for short, I'm a self taught developer. I can make Discord Bots and basic websites.<br>
                    The main coding language i use is <code>JavaScript</code>. A couple of my projects will be listed down below <br>

                </p>

                
                <h2 id="projects">Projects</h2>
                <div class="grid">
                    <div class="project card" id="project1">
                        <h3 class="projectTitle">Clock website</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            This project was inspired by a real clock/art piece that we went to look at. We tried to make it for ourselves and here we are :) We successfully remade a 30k+ art project just for fun...
                        </h5>
                        <h6>
                            Contributors:
                            <br>
                            <a href="/members/yaki">yaki</a>
                        </h6>
                        <button style="cursor: pointer" onClick="location.href='https://github.com/The-Lost-Pack-Development/Clock-website'"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                        <button style="cursor: not-allowed" onClick="location.href='https://clock-website.lost-pack.xyz'" disabled><img src="https://cdn-icons-png.flaticon.com/512/117/117479.png" style="width: 5%;"> website</button>
                    </div>

                    <div class="project card" id="project2">
                        <h3 class="projectTitle">The Lost Pack (Discord Bot)</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            This is our moderation bot that we use for multiple thigs, the bot is made to use in only one server in discord.js v14.
                        </h5>
                        <button style="cursor: pointer" onClick="location.href='https://github.com/The-Lost-Pack-Development/discord-bot'"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                    </div>

                    <div class="project card" id="project3">
                        <h3 class="projectTitle">Binary Translator</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            This bot translates Binary code to text and the other way around!
                        </h5>
                        <button style="cursor: pointer" onClick="location.href='https://github.com/The-Lost-Pack-Development/discord-bot'"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                    </div>

                    <div class="project card" id="project4">
                        <h3 class="projectTitle">UndertaleRPG website</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            The website for the UndertaleRPG bot.
                        </h5>
                        <button style="cursor: pointer" onClick="location.href='https://github.com/Undertale-RPG/undertalerpg-website'"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                        <button style="cursor: pointer" onClick="location.href='https://undertalerpg.monster'"><img src="https://cdn-icons-png.flaticon.com/512/117/117479.png" style="width: 5%;"> website</button>
                    </div>

                </div>
            </main>
        </div>
        <footer>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=213297e3-564b-4691-b2c8-4f20ee8af86e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=213297e3-564b-4691-b2c8-4f20ee8af86e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </footer>
    </body>
</html>