<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "Connor200024", description: "Information about Connor200024", icon: "/images/members/Connor200024.jpg"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/Connor200024.jpg" alt="Connor200024's avatar" style="height: 60px; border-radius: 100px;"> Connor200024</div>

                <p class="description">
                    Rank: <code>Developer</code>
                    <br>
                    Hello I'm Connor also known as Connor200024.<br> I am a Full-Stack Website Developer, Verified Bot Developer & a Newbie App Developer.<br> My full time job is working as a IT Technician. But thanks for reading!

                </p>

                
                <!-- <h2 id="projects">Projects</h2>
                <div class="grid">
                    <div class="project card" id="project1">
                        <h3 class="projectTitle">Clock website</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            This project was inspired by a real clock/art piece that we went to look at. We tried to make it for ourselves and here we are :) We successfully remade a 30k+ art project just for fun...
                        </h5>
                        <h6>
                            Contributors:
                            <br>
                            <a href="/members/yaki">yaki</a>
                        </h6>
                        <button style="cursor: pointer" onClick="location.href='https://github.com/The-Lost-Pack-Development/Clock-website'"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                        <button style="cursor: not-allowed" onClick="location.href='http://clock-website.lost-pack.xyz'" disabled><img src="https://cdn-icons-png.flaticon.com/512/117/117479.png" style="width: 5%;"> website</button>
                    </div>

                </div> -->
            </main>
            <footer>
                <a href="//www.dmca.com/Protection/Status.aspx?ID=213297e3-564b-4691-b2c8-4f20ee8af86e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=213297e3-564b-4691-b2c8-4f20ee8af86e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            </footer>
        </div>
    </body>
</html>