<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "Ishaantek", description: "Information about Ishaantek", icon: "/images/members/Ishaantek.jpg"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/Ishaantek.jpg" alt="Ishaantek's avatar" style="height: 60px; border-radius: 100px;"> Ishaantek</div>

                <p class="description">
                    Rank: <code>Moderator</code>
                    <br>

                </p>

                

            </main>
        </div>
    </body>
</html>