<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "Jay D", description: "Information about Jay D", icon: "/images/members/JayD.gif"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/JayD.gif" alt="Jay Ds avatar" style="height: 60px; border-radius: 100px;"> Jay D</div>

                <p class="description">
                    Rank: <code>Developer</code>
                    <br>
                    Indian Dev <br>
                    Student soon to be in university <br>
                    Learning C and lil bit react <br> 
                    Current project Open source multipurpose bot in djs 14 [don't know till it's completion what if djs15 pop ups 💀]
                </p>

                <div>
                    <h2>Projects</h2>
                    <div class="project card" id="project1">
                        <h3 class="projectTitle">Multi purpose bot</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            <code>no description yet</code>
                        </h5>
                        <button style="cursor: not-allowed" disabled onClick="location.href=''"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>