<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "『Nastazmi』", description: "Information about 『Nastazmi』", icon: "/images/members/Nastazmi.png"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/Nastazmi.png" alt="Nastazmi's avatar" style="height: 60px; border-radius: 100px;"> 『Nastazmi』</div>

                <p class="description">
                    Rank: <code>Moderator</code>
                    <br>

                </p>

                

            </main>
        </div>
        <footer>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=213297e3-564b-4691-b2c8-4f20ee8af86e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=213297e3-564b-4691-b2c8-4f20ee8af86e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </footer>
    </body>
</html>