<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "『Nastazmi』", description: "Information about 『Nastazmi』", icon: "/images/members/Nastazmi.png"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/Nastazmi.png" alt="Nastazmi's avatar" style="height: 60px; border-radius: 100px;"> 『Nastazmi』</div>

                <p class="description">
                    Rank: <code>Moderator</code>
                    <br>

                </p>

                

            </main>
        </div>
    </body>
</html>