<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/head', { title: "Yaki", description: "Information about Yaki", icon: "/images/members/yaki.png"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('../includes/header') %>
            <main class="main">
                <div class="title"><img src="/images/members/yaki.png" alt="Yaki's avatar" style="height: 60px; border-radius: 100px;"> Yaki</div>

                <p class="description">
                    Rank: <code>Developer</code>
                    <br>
                    I mainly code in <code>python</code> and I make discord bots.
                </p>

                <div>
                    <h2>Projects</h2>
                    <div class="project card" id="project1">
                        <h3 class="projectTitle">Undertale RPG</h3>
                        <h5 class="projectDescription">
                            Description:
                            <br>
                            This project is still in development
                        </h5>
                        <h6>
                            Contributors:
                            <br>
                            <a href="/members/commander-r">Commander R</a>
                        </h6>
                        <button style="cursor: not-allowed" disabled onClick="location.href=''"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" style="width: 5%" /> github repo</button>
                        <button style="cursor: pointer" onClick="location.href='https://undertalerpg.monster'"><img src="https://cdn-icons-png.flaticon.com/512/117/117479.png" style="width: 5%;"> website</button>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>