node_modules/
api/ac/colors.json
api/ac/guards.json
api/ac/items.json
api/ac/swords.json
api/ac/ships.json
api/ac/pistols.json
api/ac/outfits.json
api/ac/locations.json
static/images/api-images/assassins-creed/people/english_axe.png
static/images/api-images/assassins-creed/people/english_sword.png
static/images/api-images/assassins-creed/people/portuguese_axe.png
static/images/api-images/assassins-creed/people/portuguese_sword.png
static/images/api-images/assassins-creed/people/privateer_axe.png
static/images/api-images/assassins-creed/people/privateer_sword.png
static/images/api-images/assassins-creed/people/spanish_axe.png
static/images/api-images/assassins-creed/people/spanish_sword.png
