.nav {
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    background-color: #252828ee
}

.nav a:hover {
    color: #ddd36f;
    border-color: #ddd36f;
}

.nav a {
    border: 1px solid transparent;
    padding: 3px;
}

.active {
    color: #ddd36f;
    border-color: #ddd36f;
}