<link rel="stylesheet" href="/css/navbar.css">

<div class="nav">
    <a href="/" id="home" >Home</a>
    <a href='/members' id="members">Members</a>
    <a href="/login" id="login" >Request</a>
</div>
<script>
    
    if(location.href.includes('request')) {
        document.getElementById('login').className = 'active'
    } 
    else if(location.href.includes('members')) {
        document.getElementById('members').className = 'active'
    } 
    else if(location.href.includes('home')) {
        document.getElementById('home').className = 'active'
    }


    if(window.location.href.startsWith('http://localhost:3000/request#token_type') || window.location.href.startsWith('http://localhost:3000/request?kind=')){
        document.getElementById('login').href = '/';
        document.getElementById('login').innerText = 'Logout'
    }
</script>