<link rel="stylesheet" href="/css/navbar.css">

<div class="nav">
    <a href="/" id="home" >Home</a>
    <a href='/members' id="members">Members</a>
    <a href="/request" id="login" >Request</a>
    <a href="/disclaimer" id="disclaimer" >disclaimer</a>
    <a href="/terms" id="tos" >Terms of Service</a>
    <a href="/privacy" id="privacy" >Privacy Policy</a>
</div>
<script>
    
    if(location.href.includes('request')) {
        document.getElementById('login').className = 'active'
    } 
    else if(location.href.includes('members')) {
        document.getElementById('members').className = 'active'
    } 
    else if(location.href.includes('home')) {
        document.getElementById('home').className = 'active'
    }
    else if(location.href.includes('disclaimer')) {
        document.getElementById('disclaimer').className = 'active'
    }
    else if(location.href.includes('terms')) {
        document.getElementById('tos').className = 'active'
    }
    else if(location.href.includes('privacy')) {
        document.getElementById('privacy').className = 'active'
    }


    if(window.location.href.startsWith('http://localhost:3000/request#token_type') || window.location.href.startsWith('http://localhost:3000/request?kind=')){
        document.getElementById('login').href = '/';
        document.getElementById('login').innerText = 'Logout'
    }
</script>