<link rel="stylesheet" href="/css/navbar.css">

<div class="nav">
    <a href="/" id="home">Home</a>
    <a href='/members' id="members">Members</a>
    <a href="/plans" id="plans">Plans</a>
</div>
<script>
    if(location.href.includes('members')) {
        document.getElementById('members').className = 'active'
    } 
    else if(location.href.includes('home')) {
        document.getElementById('home').className = 'active'
    }
    else if(location.href.includes('plans')) {
        document.getElementById('plans').className = 'active'
    }
</script