<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "404", description: "The whole pack was searching for the page you are looking for, but couldn't find it"}) %>
    </head>
    <body>
        <div class="container">
            <h1>Sorry we couldn't find this page!</h1>
        </div>
    </body>
</html>