<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "404", description: "The whole pack was searching for the page you are looking for, but couldn't find it"}) %>
        <link rel="stylesheet" href="/css/404.css">
    </head>
    <body>
        <div class="container">
            <main class="main">
                <h1 class="title">
                  404
                </h1>

                <p class="description">
                    Sorry we couldn't find this page!<br>
                </p>
            </main>
        </div>
    </body>
</html>