<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "404", description: "The whole pack was searching for the page you are looking for, but couldn't find it", icon: "/images/favicon.png"}) %>
        <link rel="stylesheet" href="/css/404.css">
        
    </head>
    <body>
        <div class="container">
            <main class="main">
                <h1 class="title">
                    404 Could not find a page at: <span id="link"></span>
                </h1>

                <p class="description">
                    No one in our pack could find the page you're looking for...<br>
                </p>
            </main>
        </div>
        <footer>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=213297e3-564b-4691-b2c8-4f20ee8af86e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=213297e3-564b-4691-b2c8-4f20ee8af86e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </footer>
    </body>
    <script src="/js/404.js"></script>
</html>