<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Home", description: "Welcome to The Lost Pack Developements website."}) %>
    </head>
    <body>
        <div class="container">
            <h1>Welcome on our website!</h1>
        </div>
    </body>
</html>