<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Members", description: "See info about our team", icon: "/images/favicon.png" }) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('includes/header', { active: "members" }) %>
            <main class="main">
                <h6 class="title">
                    <code>The Lost Pack Development</code>'s official team members
                </h6>
                <br>
                <br>
                
                <div class="grid">

                    <a href="/members/Kirigaya-Kazuto" class="card">
                        <h2>Kirigaya Kazuto &rarr;</h2>
                        <p>Rank: <code>Founder</code> & <code>Developer</code></p>
                    </a>


                    <a href="/members/Asuna-Yuuki" class="card">
                        <h2>Asuna Yuuki &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/Connor200024" class="card">
                        <h2>Connor200024 &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>
                     
                    <a href="/members/Yoshiboi18303" class="card">
                        <h2>Yoshiboi18303 &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/JayD" class='card'>
                        <h2>Jay D</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>
                    
                    <a href="/members/Nastazmi" class='card'>
                        <h2>『Nastazmi』</h2>
                        <p>Rank: <code>Moderator</code></p>
                    </a>
                    
                    <a href="/members/Ishaantek" class='card'>
                        <h2>Ishaantek</h2>
                        <p>Rank: <code>Moderator</code></p>
                    </a>
                </div>
            </main>
            <footer>
                <a href="//www.dmca.com/Protection/Status.aspx?ID=213297e3-564b-4691-b2c8-4f20ee8af86e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=213297e3-564b-4691-b2c8-4f20ee8af86e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            </footer>
        </div>
    </body>
</html>