<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Members", description: "See info about our team"}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('includes/header', { active: "members" }) %>
            <main class="main">
                <h6 class="title">
                    <code>The Lost Pack Development</code>'s official team members
                </h6>
                <br>
                <br>
                
                <div class="grid">

                    <a href="/members/Commander-R" class="card">
                        <h2>Commander R &rarr;</h2>
                        <p>Rank: <code>Founder</code> & <code>Developer</code></p>
                    </a>


                    <a href="/members/yaki" class="card">
                        <h2>Yaki &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/Connor200024" class="card">
                        <h2>Connor200024 &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/Pigeon" class="card">
                        <h2>Pigeon &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/Yoshiboi18303" class="card">
                        <h2>Yoshiboi18303 &rarr;</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>

                    <a href="/members/JayD" class='card'>
                        <h2>Jay D</h2>
                        <p>Rank: <code>Developer</code></p>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>