<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Plans", description: "Order a custom built discord bot and #soon more!", icon: "/images/favicon.png" }) %>
        <link rel="stylesheet" href="/css/plans.css">
    </head>
    <body>
        <div class="container">
            <%- include('includes/header', { active: "Plans" }) %>
            <main class="main">
                <h6 class="title">
                    <img src="/images/favicon.png" alt="our logo"> Welcome to the plans page  of <code>The Lost Pack Development</code>
                </h6>
            </main>
            <hr>
            <main class="center discord_bots" id="bots">
                <h1 style="color:white">Discord Bots</h1>
                <h4>The costs for a basic bot is 20 euros every feature (listed below) will cost aditional to this price.</h4>
                <div class="grid">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Basic features</h1>
                                <h3 style="text-align: center;" class="price">€5/<span style="font-size: 70%;">per feature</span></h3>
                                <p class="description2">Basic features include but are not limited to: <br><span style="color: #ddd36f;">See back of card</span></p>
                                <h4><span id="hover-click">hover for more info :)</span> <span id="hover-click2">click for more info :)</span></h4>
                            </div>
                            <div class="flip-card-back">
                                <h1>Basic features</h1> 
                                <p class="description2">Basic features:
                                    <ul style="text-align: left"> 
                                        <li>Join/leave messages</li> 
                                        <li>Membercount</li>
                                        <li>Moderation commands</li>
                                        <li>Custom bot status</li>
                                        <li>Member join role</li>
                                        <li>And more!</li>
                                    </ul>
                                    </p>
                                <p><a href="https://www.lost-pack.xyz/discord" target="_blank">Visit our <code>discord server</code> to order!</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Super features</h1>
                                <h3 style="text-align: center;" class="price">€10/<span style="font-size: 70%;">per feature</span></h3>
                                <p class="description2">Super features include but are not limited to: <br><span style="color: #ddd36f;">See back of card</span></p>
                                <h4><span id="hover-click">hover for more info :)</span> <span id="hover-click2">click for more info :)</span></h4>
                            </div>
                            <div class="flip-card-back">
                                <h1>Super features</h1>
                                <p class="description2">Super features:
                                    <ul style="text-align: left"> 
                                        <li>Ticket system</li> 
                                        <li>Giveaways</li>
                                        <li>logging system</li>
                                        <li>Currency system</li>
                                        <li>Level system</li>
                                        <li>And more!</li>
                                    </ul>
                                    </p>
                                <p><a href="https://www.lost-pack.xyz/discord" target="_blank">Visit our <code>discord server</code> to order!</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card">
                        <div class="flip-card-inner2">
                            <div class="flip-card-front">
                                <h1>Hosting</h1>
                                <h3 style="text-align: center;" class="price">€5/<span style="font-size: 70%;">monthly</span></h3>
                                <p class="description2">For if you want us to arrange hosting for your bot</p>
                                <p><a href="https://www.lost-pack.xyz/discord" target="_blank">Visit our <code>discord server</code> to order!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </main>
            <hr>
            <main class="center websites" id="websites">
                <h1 style="color:white">Websites</h1>
                <h2>#Soon</h2>
                <template>
                <div class="grid">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Basic</h1>
                                <h3 style="text-align: center;" class="price">€/<span style="font-size: 70%;"></span></h3>
                                <p class="description22"></p>
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1> 
                                <p>Architect & Engineer</p> 
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Standard</h1>
                                <h3 style="text-align: center;" class="price">€/<span style="font-size: 70%;"></span></h3>
                                <p class="description"></p>
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1> 
                                <p>Architect & Engineer</p> 
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Super</h1>
                                <h3 style="text-align: center;" class="price">€/<span style="font-size: 70%;"></span></h3>
                                <p class="description"></p>
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1> 
                                <p>Architect & Engineer</p> 
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>Custom</h1>
                                <h3 style="text-align: center;" class="price">€/<span style="font-size: 70%;"></span></h3>
                                <p class="description"></p>
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1> 
                                <p>Architect & Engineer</p> 
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </main>
            <hr>
            <br>
        </div>
    </body>
</html>