<!doctype html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Request", description: "Request a project", icon: "/images/favicon.png"}) %>
        <link rel="stylesheet" href="/css/home.css">
        <script type="text/javascript" src="/js/request.js"></script>
        <base href="/">
    </head>
    <body>
        <div class="container">
            <%- include('includes/header', { active: "request" }) %>
            <main class="main">
                <div class="data">
                    <img src="" id="avatar" alt="Avatar" style="border-radius: 100px; max-width: 100%">
                    <a href='' id="linkToUser" ><h2 id="name"></h2></a>
                    
                </div>
                <h6 class="title3">
                    Request something we (<code>The Lost Pack Development</code>) can code for you!
                </h6>

                <hr style="border-color: transparent"><hr style="border-color: transparent"><hr style="border-color: transparent"><hr style="border-color: transparent">

                <form>
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username" disabled><br>

                    <label for="userId">User ID: </label>
                    <input type="text" id="D-ID" name="userId" disabled><br>

                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" disabled>

                    <br><br>

                    <label for="kind"><i style="color: red">*</i> Do you want a "<code>website</code>" or do you want a "<code>discord bot</code>": </label>
                    <input type="text" id="kind" name="kind" required><br>

                    <label for="description"><i style="color: red">*</i> Explain the features/pages you want: </label>
                    <input type="text" name="description" id="description" required/><br>

                    <label for="checkbox1"><i style="color: red">*</i> You agree that this costs money, and that you will get an email after submitting the request: </label>
                    <input type="checkbox" required ><br>

                    <label for="checkbox2"><i style="color: red">*</i> You agree to our <a href='/terms'>terms of service</a> and <a href="/privacy">privacy policy</a>: </label>
                    <input type="checkbox" required ><br><br>

                    <input type="submit" onClick="sendMessage()" value="Submit this form">
                </form>
            </main>
        </div>
    </body>
    <style>
        a:hover {
            color: #ddd36f;
        }
    </style>
        <script src="/js/request2.js"></script>
</html>