<!doctype html>
<html lang="en">
    <head>
        <%- include('includes/head', { title: "Home", description: "Welcome to The Lost Pack Developements website."}) %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="container">
            <%- include('includes/header', { active: "home" }) %>
            <main class="main">
                <h6 class="title">
                    Request something we (<code>The Lost Pack Development</code>) can code for you!
                </h6>

                <p class="description">
                    About the group:<br>
                        Our group is for people who want to develop <span>bots</span>, <span>websites</span> and other things, or if you need help you can ask us in <a href="https://discord.com/invite/TN7U5SvTHw" >our discord server</a>.<br>We make <span>discord bots</span>, <span>websites</span> and more things!
                </p>
                
            </main>
        </div>
    </body>
</html>